@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin:0; 
padding:0;
box-sizing:border-box;
}   

body{
background:#6A5ACD;   
font-family: 'poppins', sans-serif;
}

.container{
padding:20px;  
background:white;
border-radius:7px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:360px;
}

.container .app-title{
text-align:center;
text-transform:uppercase;
font-size:26px;
font-weight:500;
letter-spacing:2px;
margin-top:13px;
color:#222;
}

.container .user-input-box{
padding:1px;
margin-top:25px;
}

.container .user-input-box input{
all:unset;
height:35px;
width:180px;
border:1px solid black;
padding:5px;
border-radius:5px;
padding-left:15px;
}

.container .user-input-box button{
all:unset; 
height:45px;
width:100px;
background:#6A5ACD;   
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:5px;
margin-left:3px;
float:right;
cursor:pointer;
}

.container .result-box{
padding:10px;  
background:#5BC4F3;
margin-top:20px;
border-radius:7px;
display:none;
}

.container .result-box .name{
text-align:center;
font-size:18px;
color:white;
margin-top:10px;
}

.container .result-box .gender-logo{
height:100px;  
width:100px;
border-radius:100%;
color:#5BC4F3;
display:flex;
align-items:center;
justify-content:center;
background:white;
font-size:38px;
margin:auto;
margin-top:13px;
}

.container .result-box .gender{
text-align:center;
color:white;
text-transform:uppercase;
letter-spacing:4px;
font-size:27px;
margin-top:10px;
}

.container .result-box .probability{
text-align:center;
color:white;
margin-top:3px;
font-size:13px;
position:relative;
top:-5px;
}

::selection{
background:rgb(100, 149, 237,0.8); 
color:white;
}
